:root {
    --box-padding: 20px; 
    --box-border: 1px solid black; 
    --box-width: 200px; 
    }

* {
    margin: 0;
}

body {
    background-color: rgb(222, 228, 255);
    font-family: 'Silkscreen', cursive;
    font-size: 11px;
}

header {
    height: 300px;
}

main {
    background-color: aliceblue;
   /** background-image: url(https://preview.redd.it/u9bbkoyzzdi21.jpg?auto=webp&s=2b09c27b9ea0ff3f701b8f7a67b1ca89d0f5bacf);
    background-size:cover;
    **/
    border: 1px black;
    width: fit-content; 
    margin-left: auto;
    margin-right: auto;
}

.store {
    border: 1px solid black;
    width: 400px;
    padding: 20px;
}

#entrance {
    display: block;
    /****
    kanske kan göra att den täcks eller ngt 
    position: fixed;
    overflow: hidden;
    ****/
}

#fruitarea {
    display: none; 
    /***
    position: fixed; 
    background-color: white;
    width: 400px;
    ***/
}

.storyline {
    padding: 20px;
    border: 1px solid black;
    width: 200;
}

#itemlist {
    width: 200px;
    border: 1px solid black;
    margin-top: 2px;
    display: none;
}

#apple {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}

#showcart2 {
    width: 200px;
    border: 1px solid black;
    margin-top: 2px;
    display: none;
}

button {
    background-color: aliceblue; 
    color: black;
    border: 1px solid black;
    padding: 5px 5px;
    font-size: 9px;
    cursor: pointer;
    font-family: 'Silkscreen', cursive;
}

input[type="text"]
{
    font-family: 'Silkscreen', cursive;
    font-size: 9px;
}