* {
    margin: 0;
}

body {
    background-color: rgb(222, 228, 255);
    font-family: 'Silkscreen', cursive;
    font-size: 11px;
}

header {
    height: 250px;
}

main {
    background-color: aliceblue;
    width: fit-content; 
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

h3 {
    font-size: 11px;
    display: inline;
}

.store {
    width: 400px;
    padding: 20px;
}




/***********AREAS OF THE STORE*************/
#entrance {
    display: block;
}

#fruitarea {
    display: none; 
}

#bread {
    display: none; 
}

#payment {
    display: none; 
}

.storyline {
    padding: 20px;
    border: 1px solid black;
    width: 200;
}

#itemlist {
    width: 200px;
    border: 1px solid black;
    margin-top: 2px;
    display: none;
    
}

#showcart2 {
    width: fit-content;
    border: 1px solid black;
    margin-top: 2px;
    display: none;
}

button {
    background-color: aliceblue; 
    color: black;
    border: 1px solid black;
    padding: 5px 5px;
    font-size: 9px;
    cursor: pointer;
    font-family: 'Silkscreen'; 
    display: inline;
    margin-top: 5px;
    transition-duration: 0.4s;
}

button:hover {
    background-color: black;
    color: white;
}

input[type="text"]
{
    font-family: 'Silkscreen'; 
    font-size: 9px;
    padding: 5px 5px;
    background-color: aliceblue;
}

.formbox {
    display: inline;
}